#cookies
  #cookiesDimmer
    #cookiesModal
      h3 Tracking anonymized usage data
      p This page uses Google Analytics. By accepting tracking, you're helping me – a nerdy Designer/Dev 🤓 – to improve my skills and build better products. Read more under <a href="/privacy"> privacy</a>.

      #cookiesActions
        button#cookiesAcceptButton.primary Accept
        button#cookiesDeclineButton.secondary Decline