footer
  nav
    ul
      li
        <a href="legal">Legal</a>
      li
        <a href="privacy">Privacy</a>
  .copyright © 2025 All rights reserved

script(type='text/javascript' src='js/functions-min.js')